.container {
    max-width: 700px;
    margin: 2rem auto;
    border: 2px solid #61031c5e;
    background-color: #FCF9F9;
    border-radius: 1rem;
    padding: 0.5rem;

    .product-detail {
        padding: 0.5rem;
        color: #61031C;
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;


        .img-area {
            display: flex;
            min-width: 250px;
            max-width: 350px;
            height: 550px;
            border-radius: 1rem;


            img {
                width: 100%;
                height: 100%;
                margin: auto;
                border-radius: 1rem;
                object-fit: cover;
                object-position: 50% 30%;
            }
        }

        .detail-content {
            width: 55%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            h1 {
                text-align: center;
            }

            .product-price {
                font-weight: bold;
            }

            span {
                white-space: pre-wrap;
            }

            .measurements-table {
                width: 30%;
                border-collapse: collapse;
                margin: 0.5rem 0;
                font-size: 0.8rem;

                th,
                td {
                    border: 1px solid #ddd;
                    padding: 0.25rem;
                    text-align: center;
                }

                th {
                    background-color: #f4f4f4;
                    font-weight: bold;
                }

                tr:nth-child(even) {
                    background-color: #f9f9f9;
                }

                td:first-child {
                    text-align: left;
                }
            }

            
            .btn-open-modal {
                display: none;
                width: fit-content; 
                background-color: #61031C;
                color: #FCF9F9;
                padding: 0.3rem;
                border: none;
                border-radius: 5px; 
                font-size: 0.8rem;
                cursor: pointer; 
            }
        }

        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

        .modal-content {
            background: #fff;
            border-radius: 10px;
            max-width: 600px; 
            padding: 1rem;
            text-align: center;

            .modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            

            .btn-close-modal {
                color: #61031C;
                border: none;
                border-radius: 5px; 
                font-size: 1rem;
                cursor: pointer;
                background-color: transparent;

                svg {
                    width: 20px;  
                    height: 20px;  
                    margin: 0;  
                    display: inline-block;  
                    vertical-align: middle;  
                }
            }
        }


    }



    .swiper-button-next,
    .swiper-button-prev {
        background-color: #8f8f8f8b;
        color: #d5d2d2c3;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .swiper-pagination-bullet {
        background-color: #888;
        width: 12px;
        height: 12px;
        margin: 0 4px;
        opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
        background-color: #6d6a6a;
        opacity: 1;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .container {

        .product-detail {
            padding: 0;

            .img-area {
                border-radius: 1rem;
                box-shadow: none;
                width: 90%;
                height: 550px;
                border: none;

                Swiper {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }

                img {
                    border-radius: 1rem;
                    width: 100%;
                    height: 100%;
                    flex-grow: 1;
                }
            }

            .detail-content {
                width: 95%;
                padding: 1rem;

                h1 {
                    text-align: start;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 85%;
        padding: 0;

        .product-detail {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;

            .img-area {
                border-radius: 1rem;
                border: none;
                box-shadow: none;
                width: 100%;
                height: 550px;
                flex-grow: 1;
                padding: 0.5rem;

                img {
                    border-radius: 1rem;
                    width: 100%;
                    height: 100%;
                    flex-grow: 1;


                }
            }

            .detail-content {
                width: 95%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.8rem;

                h1 {
                    text-align: start;
                }

                .measurements-table{
                    display: none;
                }

                .btn-open-modal{
                    display: block;
                }

                .measurements-table-mobile {
                    width: 30%;
                    border-collapse: collapse;
                    margin: 0.5rem 0;
                    font-size: 0.8rem;
    
                    th,
                    td {
                        border: 1px solid #ddd;
                        padding: 0.25rem;
                        text-align: center;
                    }
    
                    th {
                        background-color: #f4f4f4;
                        font-weight: bold;
                    }
    
                    tr:nth-child(even) {
                        background-color: #f9f9f9;
                    }
    
                    td:first-child {
                        text-align: left;
                    }
                }
            }
        }
    }
}